{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

<nav class="navbar navbar-expand-lg p-0">
  <div class="collapse navbar-collapse" id="mainnav">
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
  1. We use menu_name (see above) to create a CSS class name from it.
  See https://www.drupal.org/node/2649076
#}

{{ menus.menu_links(items, attributes, 0, menu_name) }} {# 1. #}

{% macro menu_links(items, attributes, menu_level, menu_name) %} {# 1. #}
  {% import _self as menus %}
  {# 1. #}
  {% if items %}
    {% spaceless %}
    {% if menu_level == 0 %}
      <ul class="navbar-nav"> {# 1. #}
    {% else %}
      <div class="dropdown-menu tile-list">
      <section class="tile menu menu--level-{{ menu_level + 1 }} white-box col">
{#    {% else %}#}
{#        <ul class="submenu tile whiteb-box col">#}
{#      <div{{ attributes.addClass(submenu_classes) }}> #}{# 1. #}
    {% endif %}

    {% for item in items %}
      {# 1. #}
      {%
        set item_classes = [ item.is_expanded ? 'dropdown', 'mega nav-item', item.in_active_trail ? 'active', 'menu-item--level-' ~ (menu_level + 1) ]
      %}
      {# Create CSS class #}
      {%
        set link_classes = ['nav-link']
      %}
      {%
        set item_dropdown_classes = [ item.is_expanded ? 'dropdown', item.in_active_trail ? 'active' ]
      %}

      <li{{ item.attributes.addClass(item_classes) }}>
       {% if item.below %}
         {# aces style click menu #}
{#         <a{{ attributes.removeClass(item_classes).addClass(link_classes) }} href="{{ item.url }}"  title="{{ item.title }}">{{ item.title }}</a>#}
         {# engineering style click menu #}
         <a{{ attributes.removeClass(item_classes).addClass(link_classes) }} href="#" data-toggle="dropdown"  title="{{ item.title }}">{{ item.title }}</a>
       {% else %}
         <a{{ attributes.removeClass(item_classes).addClass(link_classes) }} href="{{ item.url }}"  title="{{ item.title }}">{{ item.title }}</a>
       {% endif %}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_name) }} {# 1. #}
        {% endif %}
      </li>
    {% endfor %}

  {% endspaceless %}
  {% endif %}
  {% endmacro %}
  </div>
</nav>
