{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{%
  set classes = [
  'region',
  'region-' ~ region|clean_class,
  'l-region',
  'l-region--' ~ region|clean_class,
]
%}
<footer{{ attributes.addClass(classes) }} role="contentinfo">
  <il-footer>
    <div slot="contact" class="il-footer-contact uofi_address">
      {% if if_footer['if_footer_address']['if_footer_address_unit'] %}
        <p><a href="/" id="link-1">{{ if_footer['if_footer_address']['if_footer_address_unit'] }}</a></p>
      {% elseif drupal_config('system.site', 'name') %}
        <p><a href="/">{{ drupal_config('system.site', 'name')| raw }}</a></p>
      {% else %}
        <p><a href="https://illinois.edu">University of Illinois</a></p>
      {% endif %}
      <p>
        {% if if_footer['if_footer_address']['if_footer_address_street_one'] %}
          {{ if_footer['if_footer_address']['if_footer_address_street_one'] }}
        {% endif %}
      </p>
      {% if if_footer['if_footer_address']['if_footer_address_street_two'] %}
      <p>{{ if_footer['if_footer_address']['if_footer_address_street_two'] }}</p>
      {% endif %}
      <p>{% if if_footer['if_footer_address']['if_footer_address_city'] %}
        {{ if_footer['if_footer_address']['if_footer_address_city'] }},
        {% endif %}, {% if if_footer['if_footer_address']['if_footer_address_state'] %}
        {{ if_footer['if_footer_address']['if_footer_address_state'] }}
        {% endif %} {% if if_footer['if_footer_address']['if_footer_address_zip'] %}
          {{ if_footer['if_footer_address']['if_footer_address_zip'] }}
        {% endif %}</p>
      {% if if_footer['if_footer_address']['if_footer_address_tel'] %}
        <p><a href="tel:+{{ if_footer['if_footer_address']['if_footer_address_tel'] }}">{{ if_footer['if_footer_address']['if_footer_address_tel'] }}</a></p>
      {% endif %}
      {% if if_footer['if_footer_address']['if_footer_address_email'] %}
        <p>Email: <a href="mailto:{{ if_footer['if_footer_address']['if_footer_address_email'] }}">{{ if_footer['if_footer_address']['if_footer_address_email'] }}</a></p>
      {% endif %}
    </div>
    <div slot="social" class="il-footer-social">
      <ul>
        {% if if_footer['if_footer_social']['if_footer_social_instagram'] %}
          <li><a href="{{ if_footer['if_footer_social']['if_footer_social_instagram'] }}"></a></li>
        {% endif %}
        {% if if_footer['if_footer_social']['if_footer_social_facebook'] %}
          <li><a href="{{ if_footer['if_footer_social']['if_footer_social_facebook'] }}"></a></li>
        {% endif %}
        {% if if_footer['if_footer_social']['if_footer_social_twitter'] %}
          <li><a href="{{ if_footer['if_footer_social']['if_footer_social_twitter'] }}"></a></li>
        {% endif %}
        {% if if_footer['if_footer_social']['if_footer_social_youtube'] %}
          <li><a href="{{ if_footer['if_footer_social']['if_footer_social_youtube'] }}"></a></li>
        {% endif %}
        {% if if_footer['if_footer_social']['if_footer_social_linkedin'] %}
          <li><a href="{{ if_footer['if_footer_social']['if_footer_social_linkedin'] }}"></a></li>
        {% endif %}
      </ul>
    </div>
    {% if if_footer_colleges %}
      <div slot="parent" class="il-footer-parent">
        {% if if_secondary_site_title %}
          <p><a href="{{ if_secondary_site_link }}">{{ if_secondary_site_title| raw }}</a></p>
        {% endif %}
        {% for item in if_footer_colleges %}
          {% if if_footer_colleges[loop.index0][0] != "" %}
            {% set title = if_footer_colleges[loop.index0][0] %}
            {% set url = if_footer_colleges[loop.index0][1] %}
            <p><a href="{{ url }}">{{ title }}</a></p>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    <div class="il-footer-navigation">
      {% if drupal_entity('block_content', 1) %}
        <div>
          {{ drupal_entity('block_content', 1) }}
        </div>
      {% endif %}
      <nav aria-label="Campus Footer Links">
        <h2>Department Resources:</h2>
        <ul>
          <li><a href="#">Faculty &amp; Staff</a></li>
          <li><a href="#">Undergraduate Studies</a></li>
          <li><a href="#">Graduate Students</a></li>
          <li><a href="#">Give to Department</a></li>
        </ul>
      </nav>
      <nav aria-label="Campus Footer Links 2">
        <h2>College Resources</h2>
        <ul>
          <li><a href="#">Contact ACES</a></li>
          <li><a href="#">About the College</a></li>
          <li><a href="#">Future Students</a></li>
        </ul>
      </nav>
    </div>
    <div class="il-footer-navigation">
      <nav aria-label="Campus Footer Links 3">
        <h2>More Resources:</h2>
        <ul>
          <li><a href="#">One</a></li>
          <li><a href="#">Two is a Really Really Long Item That Wraps Around</a></li>
        </ul>
      </nav>
      <nav aria-label="Campus Footer Links 4">
        <h2>University of Illinois Long Title of Resources</h2>
        <ul>
          <li><a href="#">Admissions</a></li>
          <li><a href="#">Covid Resources</a></li>
          <li><a href="#">Graduate Students</a></li>
          <li><a href="#">Give to Department</a></li>
        </ul>
      </nav>
    </div>
    <nav slot="links" class="il-footer-links">
      <h2 class="il-invisible">Additional links</h2>
      <ul>
        <li><button id="ot-sdk-btn" class="ot-sdk-show-settings">About Cookies</button></li>
        <li><a href="#">Privacy Policy</a></li>
        <li>© 2021 University of Illinois Board of Trustees</li>
        <li><a href="#">College Bylaws</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </nav>
  </il-footer>
</footer>
