{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
    'l-region',
    'l-region--' ~ region|clean_class,
  ]
%}
    {{ kint() }}
  <footer{{ attributes.addClass(classes) }} role="contentinfo">
    <il-footer>
      <div slot="social">
        {% if if_footer['if_footer_social']['if_footer_social_facebook'] %}
          <a aria-label="Find us on Facebook" href="{{ if_footer['if_footer_social']['if_footer_social_facebook'] }}"><i class="fa fa-facebook"></i></a>
        {% endif %}
        {% if if_footer['if_footer_social']['if_footer_social_instagram'] %}
          <a aria-label="Find us on Instagram" href="{{ if_footer['if_footer_social']['if_footer_social_instagram'] }}"><i class="fa fa-instagram"></i></a>
        {% endif %}
        {% if if_footer['if_footer_social']['if_footer_social_twitter'] %}
          <a aria-label="Follow us on Twiter" href="{{ if_footer['if_footer_social']['if_footer_social_twitter'] }}"><i class="fa fa-twitter"></i></a>
        {% endif %}
        {% if if_footer['if_footer_social']['if_footer_social_youtube'] %}
          <a aria-label="Subscribe to our YouTube Channel" href="{{ if_footer['if_footer_social']['if_footer_social_youtube'] }}"><i class="fa fa-youtube-play"></i></a>
        {% endif %}
        {% if if_footer['if_footer_social']['if_footer_social_linkedin'] %}
          <a aria-label="Follow us on LinkedIn" href="{{ if_footer['if_footer_social']['if_footer_social_linkedin'] }}"><i class="fa fa-linkedin"></i></a>
        {% endif %}
      </div>
      <div class="footer--site-name">
        <address>
          {% if if_footer['if_footer_address']['if_footer_address_unit'] %}
            <a href="/">{{ if_footer['if_footer_address']['if_footer_address_unit'] }}</a>
          {% elseif drupal_config('system.site', 'name') %}
            <a href="/">{{ drupal_config('system.site', 'name')| raw }}</a>
          {% else %}
            <a href="https://illinois.edu">University of Illinois</a>
          {% endif %}<br>
          {% if if_footer['if_footer_address']['if_footer_address_street_one'] %}
            {{ if_footer['if_footer_address']['if_footer_address_street_one'] }}<br>
          {% endif %}
          {% if if_footer['if_footer_address']['if_footer_address_street_two'] %}
            {{ if_footer['if_footer_address']['if_footer_address_street_two'] }}<br>
          {% endif %}
          {% if if_footer['if_footer_address']['if_footer_address_city'] %}
            {{ if_footer['if_footer_address']['if_footer_address_city'] }},
          {% endif %}
          {% if if_footer['if_footer_address']['if_footer_address_state'] %}
            {{ if_footer['if_footer_address']['if_footer_address_state'] }}
          {% endif %}
          {% if if_footer['if_footer_address']['if_footer_address_zip'] %}
            {{ if_footer['if_footer_address']['if_footer_address_zip'] }}
          {% endif %}
          <br>
          {% if if_footer['if_footer_address']['if_footer_address_email'] %}
            <a href="mailto:{{ if_footer['if_footer_address']['if_footer_address_email'] }}">{{ if_footer['if_footer_address']['if_footer_address_email'] }}</a><br>
          {% endif %}
          {% if if_footer['if_footer_address']['if_footer_address_tel'] %}
            <a href="tel:+{{ if_footer['if_footer_address']['if_footer_address_tel'] }}">{{ if_footer['if_footer_address']['if_footer_address_tel'] }}</a>
          {% endif %}
      </address>
      </div>
      <div slot="links" {% if if_footer['if_footer_menu_block_checkbox'] == TRUE %} class="no-grid" {% endif %}>
        {% if drupal_entity('block_content', 1) %}
          <div>
            {{ drupal_entity('block_content', 1) }}
          </div>
        {% endif %}
        {% if drupal_entity('block', 'footermenufirst') %}
          <div>
            {{ drupal_entity('block', 'footermenufirst') }}
          </div>
        {% endif %}
        {% if drupal_entity('block', 'footermenusecond') %}
          <div>
            {{ drupal_entity('block', 'footermenusecond') }}
            <div id="google_translate_element"></div>
            <script>
              function googleTranslateElementInit() {
                new google.translate.TranslateElement({
                  pageLanguage: 'en',
                  layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                  autoDisplay: false
                }, 'google_translate_element');
              }
            </script>
            <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
          </div>
        {% endif %}
        {% if drupal_entity('block', 'footermenuthird') %}
          <div>
            {{ drupal_entity('block', 'footermenuthird') }}
          </div>
        {% endif %}
        {% if drupal_entity('block', 'footermenufourth') %}
          <div>
            {{ drupal_entity('block', 'footermenufourth') }}
          </div>
        {% endif %}
      </div>
      {# Available slot not used by the template at the moment #}
      {# <div slot="actions"> #}
      {# </div> #}
      {% if if_secondary_site_title and if_secondary_site_link %}
      <div slot="parent">
        {# primary unit information (i.e. College Name) #}
        <a href="{{ if_secondary_site_link }}">{{ if_secondary_site_title| raw }}</a>
      </div>
      {% elseif if_secondary_site_title %}
        <div slot="parent">
          {# primary unit information (i.e. College Name) #}
          {{ if_secondary_site_title| raw }}
        </div>
      {% else %}
        <div slot="parent" class="no-title"></div>
      {% endif %}
    </il-footer>

    <il-back-to-top></il-back-to-top>

    <div class="footer--subfooter col-lg-12">
      <ul>
        <button class="optanon-show-settings optanon-override">Cookie Settings</button>
        <li><a href="https://illinois.edu/resources/website/copyright.html">Copyright</a></li>
        <li><a href="https://www.vpaa.uillinois.edu/resources/web_privacy">Privacy Policy</a></li>
        <li><a href="/user">Login</a></li>
      </ul>
    </div>
  </footer>

