{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{%
  set classes = [
  'region',
  'region-' ~ region|clean_class,
  'l-region',
  'l-region--' ~ region|clean_class,
]
%}
<footer{{ attributes.addClass(classes) }} role="contentinfo">
  <il-footer>
    <div slot="contact" class="il-footer-contact uofi_address">
      {% if if_footer['if_footer_address']['if_footer_address_unit'] %}
        <p><a href="/" id="link-1">{{ if_footer['if_footer_address']['if_footer_address_unit'] }}</a></p>
      {% elseif drupal_config('system.site', 'name') %}
        <p><a href="/">{{ drupal_config('system.site', 'name')| raw }}</a></p>
      {% else %}
        <p><a href="https://illinois.edu">University of Illinois</a></p>
      {% endif %}
      <p>
        {% if if_footer['if_footer_address']['if_footer_address_street_one'] %}
          {{ if_footer['if_footer_address']['if_footer_address_street_one'] }}
        {% endif %}
      </p>
      {% if if_footer['if_footer_address']['if_footer_address_street_two'] %}
      <p>{{ if_footer['if_footer_address']['if_footer_address_street_two'] }}</p>
      {% endif %}
      <p>{% if if_footer['if_footer_address']['if_footer_address_city'] %}
        {{ if_footer['if_footer_address']['if_footer_address_city'] }},
        {% endif %} {% if if_footer['if_footer_address']['if_footer_address_state'] %}
        {{ if_footer['if_footer_address']['if_footer_address_state'] }}
        {% endif %} {% if if_footer['if_footer_address']['if_footer_address_zip'] %}
          {{ if_footer['if_footer_address']['if_footer_address_zip'] }}
        {% endif %}</p>
      {% if if_footer['if_footer_address']['if_footer_address_tel'] %}
        <p><a href="tel:{{ if_footer['if_footer_address']['if_footer_address_tel'] }}">{{ if_footer['if_footer_address']['if_footer_address_tel'] }}</a></p>
      {% endif %}
      {% if if_footer['if_footer_address']['if_footer_address_email'] %}
        <p>Email: <a href="mailto:{{ if_footer['if_footer_address']['if_footer_address_email'] }}">{{ if_footer['if_footer_address']['if_footer_address_email'] }}</a></p>
      {% endif %}
    </div>
    <div slot="social" class="il-footer-social">
      <ul>
        {% if if_footer['if_footer_social']['if_footer_social_instagram'] %}
          <li><a href="{{ if_footer['if_footer_social']['if_footer_social_instagram'] }}">Instagram</a></li>
        {% endif %}
        {% if if_footer['if_footer_social']['if_footer_social_facebook'] %}
          <li><a href="{{ if_footer['if_footer_social']['if_footer_social_facebook'] }}">Facebook</a></li>
        {% endif %}
        {% if if_footer['if_footer_social']['if_footer_social_twitter'] %}
          <li><a href="{{ if_footer['if_footer_social']['if_footer_social_twitter'] }}">Twitter</a></li>
        {% endif %}
        {% if if_footer['if_footer_social']['if_footer_social_youtube'] %}
          <li><a href="{{ if_footer['if_footer_social']['if_footer_social_youtube'] }}">YouTube</a></li>
        {% endif %}
        {% if if_footer['if_footer_social']['if_footer_social_linkedin'] %}
          <li><a href="{{ if_footer['if_footer_social']['if_footer_social_linkedin'] }}">LinkedIn</a></li>
        {% endif %}
      </ul>
    </div>
    {% if if_footer_colleges %}
      <div slot="parent" class="il-footer-parent">
        {% if if_secondary_site_title %}
          <p><a href="{{ if_secondary_site_link }}">{{ if_secondary_site_title| raw }}</a></p>
        {% endif %}
        {% for item in if_footer_colleges %}
          {% if if_footer_colleges[loop.index0][0] != "" %}
            {% set title = if_footer_colleges[loop.index0][0] %}
            {% set url = if_footer_colleges[loop.index0][1] %}
            <p><a href="{{ url }}">{{ title }}</a></p>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    <div class="il-footer-navigation">
      <div class="il-footer-navigation-column">
        {% if drupal_entity('block', 'footermenufirst') %}
          <nav aria-label="Campus Footer Links">
            {{ drupal_entity('block', 'footermenufirst') }}
          </nav>
        {% endif %}
        {% if drupal_entity('block', 'footermenusecond') %}
          <nav aria-label="Campus Footer Links 2">
            {{ drupal_entity('block', 'footermenusecond') }}
          </nav>
        {% endif %}
      </div>
      <div class="il-footer-navigation-column">
        {% if drupal_entity('block', 'footermenuthird') %}
          <nav aria-label="Campus Footer Links 3">
            {{ drupal_entity('block', 'footermenuthird') }}
          </nav>
        {% endif %}
        {% if drupal_entity('block', 'footermenufourth') %}
          <nav aria-label="Campus Footer Links 4">
            {{ drupal_entity('block', 'footermenufourth') }}
          </nav>
        {% endif %}
        <div id="google_translate_element"></div>
        <script>
          function googleTranslateElementInit() {
            new google.translate.TranslateElement({
              pageLanguage: 'en',
              layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
              autoDisplay: false
            }, 'google_translate_element');
          }
        </script>
        <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      </div>
    </div>
    <nav slot="links" class="il-footer-links">
      <h2 class="il-invisible">Additional links</h2>
      <ul>
        <li><button id="ot-sdk-btn" class="ot-sdk-show-settings">About Cookies</button></li>
        <li><a href="https://www.vpaa.uillinois.edu/resources/web_privacy">Privacy Policy</a></li>
        <li><a href="https://illinois.edu/resources/website/copyright.html">© {{ "now"|date("Y") }} University of Illinois Board of Trustees</a></li>
        {% for subfooter_link in if_subfooter %}
          {% set link = if_subfooter[loop.index0][1] %}
          {% set text = if_subfooter[loop.index0][0] %}
          {% if link != NULL or text != NULL %}
            <li><a href="{{ link }}">{{ text }}</a></li>
          {% endif %}
        {% endfor %}
        <li><a href="/user">Login</a></li>
      </ul>
    </nav>
  </il-footer>
</footer>
